
<h1>The Codesharing experience will live here </h1>
<div class="row">
  <div class="col-md-2"> 
  <!-- Form for uploading files -->
 <!--  <form ng-submit="getFileInfo()" ng-controller="ExampleController" action="/fileUpload" enctype="multipart/form-data" method="post">
      <input type="file" name="string">
      <input type="submit" value="Upload File">
  </form> -->
  <!-- Ending form for uploading files -->
    <button ng-click='add()'>Add</button>
    <div ng-repeat=" file in filesList"><!-- {{ file.title }}  -->
      <button ng-click='delete(file.id)'>Delete</button>
      <!-- Edit function tied to button with the name of the document -->
      <button ng-click='edit(file.id)'>Edit {{file.title}}</button>
      <!-- Share with button, can be improved later. Need to ask the user who they would like to share with.  -->
      <button ng-click='shareWith(file.id)'>ShareWith</button>
      <button ng-click='update(file.id)'>Update</button>
    </div>
  </div> 

<!-- <a href="./downloadFileExample.txt" download >Download This</a> -->

    <div class="col-md-8">
        <form ng-submit="getFileInfo()" ng-controller="ExampleController" action="/fileUpload" enctype="multipart/form-data" method="post">
            <input type="file" name="string">
            <input type="submit" value="Upload File">
        </form>
      <input ng-model="title">
      <div ui-ace="aceOption" class="ace_editor" ng-model="aceModel"></div>
      <select ng-model="mode" ng-options="m for m in modes" ng-change="modeChanged()"></select>
    </div>
    <div class="col-md-2">

    <!-- <video id="localVideo" autoplay></video> -->
      <!-- <icecomm-connect room="custom room"></icecomm-connect>
      <icecomm-local><video ng-if="local" autoplay class="icecomm-local"' +
        'ng-src={{local.stream}}></video></icecomm-local>
      <icecomm-peer></icecomm-peer>
      <icecomm-leave></icecomm-leave>
 -->
    <!-- <ice-comm
            
            room="custom room"></ice-comm> -->
      <!-- <div>
          <button ng-if="!!current_room" ng-click="close()">Close</button>
          <input ng-if="!current_room" type="text" ng-keyup="roomEvent()" />
          <div ng-if="!!local">
            <video autoplay class="local" ng-src={{local.stream}}></video>
          </div>
          <ul><li ng-repeat="peer in peers">
            <video autoplay ng-src="{{peer.stream}}" ></video>
          </li></ul> -->


        <!-- <<  </li></ul> --> 
      <!-- </div> -->

    </div>
</div>





