
<h1>The Codesharing experience will live here </h1>
<div class="row">
  <div class="col-md-2"> 
    <button ng-click='add()'>Add</button>
    <div ng-repeat=" file in filesList">
      <h5>{{file.title}}</h5>
      <button ng-click='delete(file.id)'>Delete</button>
      <button ng-click='edit(file.id)'>Edit </button>
      <button ng-click='shareWith(file.id)'>ShareWith</button>
      <button ng-click='update(file.id)'>Update</button>
    </div>

    <!-- Single button -->
    <div ng-repeat="file in filesList">
    <div class="btn-group" uib-dropdown is-open="status.isopen">
      <h5>{{file.title}}</h5>
      <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
        <span class="caret"></span>
      </button>
      <ul class="uib-dropdown-menu" role="menu" aria-labelledby="single-button">
        <li role="menuitem" ng-click='shareWith(file.id)'><a href="#">ShareWith</a></li>
        <li role="menuitem" ng-click='edit(file.id)'><a href="#">Edit File</a></li>
        <li role="menuitem" ng-click='delete(file.id)'><a href="#">Delete</a></li>
      </ul>
    </div>
      </div> 

        <hr />
  </div> 
    <div class="col-md-4">

        <form ng-submit="getFileInfo()" action="/fileUpload" enctype="multipart/form-data" method="post">
            <input type="file" name="string">
            <input type="submit" value="Upload File">
        </form>
      <input ng-model="title">
      <div ui-ace="aceOption" class="ace_editor" ng-model="aceModel"></div>
      <select ng-model="mode" ng-options="m for m in modes" ng-change="modeChanged()"></select>
    </div>
   <div>
    <div class='col-md-4'>
      <button class="btn-primary" ui-sref="codeshare.room">Start VideoChat</button>
           <div ui-view></div>
    </div>
  </div>
</div>





