body {
  padding: 60px 0px 0px 0px;
  background-color: #333;
  color: #fff;
}

/* Styles for signin.html */
.btn-default {
/*	padding: 20px;
margin: 15px;*/
/*font-size: 14px;*/	
}

.codeshare-wrapper{
  width:1280px;
  height: 900px;
}

#slider1 {
  width: 200px;
}

/* Styles for login.html */
.starter-template {
  padding: 40px 15px;
  text-align: center;
  height: 900px;
  background-image: url(night-lights.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 0px 300px 0px;
  color: #FFF;
}

.card li {
  display: inline;
}
.card img{
  height: 100px;
  width: 100px;
  border-radius: 100px;

}

td img {
  height: 50px;
  width: 50px;
}

.listname{
  width: 200px;
}

.topright {
  padding: 0px;
  text-align: right;
  margin-right: 50px;
  text-decoration: none;
  color: #fff;
}

.topright img {
  /*position: absolute;*/
  height: 30px;
  width: 30px;
  border-radius: 100px;
}

button {
  background-color: #fff;
  color: #000;
}

td {
  padding: 0px 0px 10px 10px;
}

.well {
  background-image: linear-gradient(to bottom,#FFFFFF 0,#f5f5f5 100%);
  height: 550px;
  overflow: scroll;
}

td.name{
  width: 500px;
  font-weight: 900;
}

td.text {
  font-weight: 100;
  letter-spacing: 2px;
}

td.created{
  color: #505050;
}

span.glyphicon{
  font-size: 1.5em;
}
.card{
  height: 150px;
  width: 250px;
  /*border-style: solid;*/
  padding: 10px;
  /*background-color: #fff;*/
  color: #000;
  font-size: 1em;
}

/* Styles for profile.html */
#padded {
  padding-top: 30px;
  /*padding: 20px;*/
  margin: 3px;
}

#cool {
  background-color: #fff;
}

#sweet {
  background-color: #fff;
}

#whiteText {
  color: white;
  font-style: Helvetica;
}

/* Styles for codeshare.html */
.ace_editor { 
  height: 600px;
  width: 950px; 
} 

.chat-container {
  width: 980px;
  height: 600px;
  margin: auto;
  margin-top: 0px;
}
.msg-container {
  height: 300px;
  border: 2px;
  overflow: scroll;
}

input {
  color: #000;
}

video {
  width: 250px;
  border-radius: 10px;
}

.video-wrapper:after {
  content: ' ';
  clear: both;
  display: block;
}