body {
  padding: 50px 0px 30px 30px;
}

/* Styles for signin.html */
.btn-default {
	padding: 20px;
	margin: 15px;
	/*font-size: 14px;*/	
}

.codeshare-wrapper{
  width:1280px;
  height: 900px;
}

#slider1 {
  width: 200px;
}

/* Styles for login.html */
.starter-template {
  padding: 40px 15px;
  text-align: center;
  height: 900px;
  background-image: url(night-lights.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 0px 300px 0px;
  color: #FFF;
}

.card li {
  display: inline;
}
.card img{
  height: 100px;
  width: 100px;
  border-radius: 100px;

}

.card{
  height: 300px;
  width: 300px;
  border-style: solid;
}

/* Styles for codeshare.html */
.ace_editor { height: 200px; } 

.chat-container {
  width: 980px;
  height: 600px;
  margin: auto;
  margin-top: 30px;
}
.msg-container {
  height: 400px;
  border: 2px;
  overflow: scroll;
}

video {
  width: 500%;
  border-radius: 10px;
}

.video-wrapper:after {
  content: ' ';
  clear: both;
  display: block;
}