body {
  padding: 0px 0px 0px 0px;
  background-color: #fff;
  color: #000;
  overflow: none;
  background-size: 600px;
}


/* Styles for signin.html */
.btn-default {
/*  padding: 20px;
margin: 15px;*/
/*font-size: 14px;*/  
}

.codeshare-wrapper{
  padding:60px;
  /*width:1280px;*/
  height: 650px;
}

td.list {
  width: 180px;
}

#slider1 {
  width: 200px;
}

/* Styles for login.html */
.starter-template {
  /*padding: 40px 15px;*/
  text-align: center;
  height: 900px;
  width: 1500px;
  background-image: url(../assets/img/horizon.large.jpg);
  background-repeat: no-repeat;
  background-size: cover; 
/*  background-color: #000;
*/  padding: 200px 0px 0px 0px;
  color: #FFF;
  background-position: center;
}

.card li {
  display: inline;
}
.card img{
  height: 100px;
  width: 100px;
  border-radius: 100px;

}

td img {
  height: 50px;
  width: 50px;
  text-align: center;
}

.listname{
  width: 200px;
}

.topright {
  padding: 0px;
  text-align: right;
  margin-right: 50px;
  text-decoration: none;
  color: #fff;
}

.topright img {
  /*position: absolute;*/
  height: 30px;
  width: 30px;
  border-radius: 100px;
}

button {
  background-color: #fff;
  color: #000;
}

td {
  padding: 0px 0px 10px 10px;
}

.userlist {
  height: 550px;
  overflow: scroll;
}

td.name{
  width: 500px;
  font-weight: 900;
  color:#333;
}

.btn {
  border:none;
}
td.text {
  font-weight: 400;
  letter-spacing: 2px;
}

td.created{
  color: #505050;
}

span.glyphicon{
  font-size: 1.5em;
}
.card{
  height: 150px;
  width: 250px;
  /*border-style: solid;*/
  padding: 10px;
  /*background-color: #fff;*/
  color: #000;
  font-size: 1em;
}

/* Styles for profile.html */

.container {
  width: 1500px;
}

.currentskills {
  padding-left: 100px;
}

#padded {
  padding-top: 30px;
  /*padding: 20px;*/
  margin: 3px;
}

#cool {
  padding: 120px 0px 0px 120px;
  left padding: 10px;
  background-color: #333;
  color: #fff;
  height: 840px;
}

#sweet {
  left padding: 10px;
  background-color: #333;
  color: #fff;
}

#whiteText {
  color: white;
  font-style: Helvetica;
}

/* Styles for codeshare.html */
.ace_editor { 
  height: 600px;
  width: 100%; 
} 

.chat-container {
  padding: 60px 0px 60px;
  width: 980px;
  height: 600px;
  margin: auto;
  margin-top: 0px;
}
.msg-container {
  height: 300px;
  border: 2px;
  overflow: scroll;
}

a.simple-dropdown{
  text-decoration: none;
}

input {
  color: #000;
}

video {
  width: 250px;
  border-radius: 10px;
}

.video-wrapper:after {
  content: ' ';
  clear: both;
  display: block;
}