body {
  padding-top: 50px;
  margin: 0px 10px 0px 10px;
}

/* Styles for signin.html */
.btn-default {
	padding: 20px;
	margin: 15px;
	/*font-size: 14px;*/	
}

/* Styles for login.html */
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

/* Styles for codeshare.html */
.ace_editor { height: 200px; } 


video {
    height: 200px;
    width: 200px;
}
