body {
  padding-top: 50px;
}

/* Styles for signin.html */
.btn-default {
  padding: 20px;
  margin: 15px;
  /*font-size: 14px;*/  
}

#slider1 {
  width: 200px;
}

/* Styles for login.html */
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

/* Styles for codeshare.html */
.ace_editor { height: 200px; } 

.chat-container {
  width: 400px;
  height: 600px;
  margin: auto;
}
.msg-container {
  height: 400px;
  border: 2px;
  overflow: scroll;
}

video {
  width: 500%;
  border-radius: 10px;
}

.video-wrapper:after {
  content: ' ';
  clear: both;
  display: block;
}