<div class="container">
	<h1>I am looking</h1>

	<div class="starter-template">
		<h1>I am looking</h1>
		For: <a ui-sref="mentee" class="btn-default">mentorship</a> To:<a ui-sref="mentor" class="btn-default">Become a Mentor</a>
		
	</div>

</div>
<!--  -->
<div ng-controller="IndexController">
    <label>Please enter your name: </label>
    <input ng-model="currentCustomer.name"/>
    <button ng-click="join()">Join</button>
    <br/>

    <h1>New Customers: </h1>
    <ul>
      <li ng-repeat="customer in newCustomers">{{customer.name}}</li>
    </ul>

    <!-- // <script src="https://cdn.socket.io/socket.io-1.3.5.js"></script> -->
  </div>
