<div class="col-md-2"> 
  <div class="well" ng-repeat=" file in filesList">{{ file.title }} 
    <button ng-click='delete(file.id)'>Delete</button>
    <button ng-click='edit(file.id)'>Edit</button>
  </div>
</div> 

<div class="container">
  <article>
    <img src="https://avatars0.githubusercontent.com/u/10456737?v=3&s=400" class="img-circle">
  </article>
  <h1>Aheri Stanford-Asiyo</h1>

  <ul class="nav nav-pills">
    <li><a href="#">Messages <span class="badge">3</span></a></li>
    <li><a href="#">Saved Codeshares <span class="badge">2</span></a></li>
  </ul>
</div>


<div class="bluecacti">

  <h2>Languages</h2>

  <div>
    <div class="progress progress-striped">
      <div class="progress-bar progress-bar-info" style="width: 70%">Javascript</div>
    </div>

    <div class="progress progress-striped">
      <div class="progress-bar progress-bar-success" style="width: 10%">C++</div>
    </div>

    <div class="progress progress-striped">
      <div class="progress-bar progress-bar-warning" style="width: 60%">Swift</div>
    </div>

    <div class="progress progress-striped">
      <div class="progress-bar progress-bar-danger" style="width: 80%">Java</div>
    </div>
  </div>

  <div class="progress">
    <div class="progress-bar progress-bar-success" style="width: 35%"></div>
    <div class="progress-bar progress-bar-warning" style="width: 20%"></div>
    <div class="progress-bar progress-bar-danger" style="width: 10%"></div>
  </div>


</div>

<div class="bluecacti">

  <h2>Frameworks</h2>

  <div>
    <div class="progress progress-striped">
      <div class="progress-bar progress-bar-info" style="width: 20%">Backbone.js</div>
    </div>

    <div class="progress progress-striped">
      <div class="progress-bar progress-bar-info" style="width: 0%">Node.js</div>
    </div>

    <div class="progress progress-striped">
      <div class="progress-bar progress-bar-success" style="width: 40%">React.js</div>
    </div>

    <div class="progress progress-striped">
      <div class="progress-bar progress-bar-warning" style="width: 60%"></div>
    </div>

    <div class="progress progress-striped">
      <div class="progress-bar progress-bar-danger" style="width: 80%">Angular.js</div>
    </div>
  </div>

</div>

<div class="importante">
 <time>Office Hours</time>
</div>

<div class="wrapper-padding">


<!-- What follows is sample code from  http://themesforever.com/templates/enterprise/ we may want to consider for inspiration:  -->
              <!-- about me -->
              <section class="margin-bottom" id="about-me">

                <h2>About me</h2>
                <p><small>Excepteur sint occaecat cupidatat</small></p>

                <div class="row margin-bottom">

                  <div class="col-md-8">

                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>

                  </div>

                  <div class="col-md-4 text-center">

                    <p class="lead text-center">
                      <i class="fa fa-level-down"></i>
                    </p>
                    
                    </a>

                  </div>

                </div>

                <div class="row">

                  <div class="col-md-5 col-lg-3">



                  </div>

                  <div class="col-md-7 col-lg-4">

                    <article class="media">

                      <div class="pull-left">
                        
                      </div>
                    
                    </article>

                  </div>

                  <div class="col-md-12 col-lg-5">

                    

                  </div>

                </div>

              </section><!--/ about me -->

              <!-- skill -->
              <section class="margin-bottom" id="skills">

                <h2>Skills</h2>
                <p class="margin-bottom"><small>Curabitur pretium tincidunt lacus</small></p>

                <div class="row">
                 
                  <div class="col-lg-6 margin-bottom">

                    <h4 class="margin-bottom">Languages</h4>

                    <div class="progress">
                      <div class="progress-bar" style="width: 85%">Java</div>
                    </div>

                    <div class="progress">
                      <div class="progress-bar" style="width: 70%">C++</div>
                    </div>

                    <div class="progress">
                      <div class="progress-bar" style="width: 60%">PHP</div>
                    </div>

                    <div class="progress">
                      <div class="progress-bar" style="width: 90%">Perl</div>
                    </div>

                    <div class="progress level">
                      <div class="progress-bar" style="width:25%">
                        Newbie
                      </div>
                      <div class="progress-bar" style="width:25%">
                        Good
                      </div>
                      <div class="progress-bar" style="width:25%">
                        Pretty Good
                      </div>
                      <div class="progress-bar" style="width:25%">
                        Superhero
                      </div>
                    </div>
                  
                  </div><!--/ Languages block-->

                  <!--databases-->
                  <div class="col-lg-6 margin-bottom">

                    <h4 class="margin-bottom">Databases</h4>

                    <div class="progress">
                      <div class="progress-bar" style="width: 60%">DB2</div>
                    </div>

                    <div class="progress">
                      <div class="progress-bar" style="width: 90%">Oracle 8/7</div>
                    </div>

                    <div class="progress">
                      <div class="progress-bar" style="width: 50%">SQL Server</div>
                    </div>

                    <div class="progress">
                      <div class="progress-bar" style="width: 80%">MySQL</div>
                    </div>

                    <div class="progress level">

                      <div class="progress-bar" style="width:25%">
                        Newbie
                      </div>
                      <div class="progress-bar" style="width:25%">
                        Good
                      </div>
                      <div class="progress-bar" style="width:25%">
                        Pretty Good
                      </div>
                      <div class="progress-bar" style="width:25%">
                        Superhero
                      </div>

                    </div>                   

                  </div><!--/ databases-->

                  <!--frameworks-->
                  <div class="col-lg-6 margin-bottom">

                    <h4 class="margin-bottom">Frameworks</h4>

                    <div class="progress">
                      <div class="progress-bar" style="width: 60%">CodeIgniter</div>
                    </div>

                    <div class="progress">
                      <div class="progress-bar" style="width: 90%">WordPress</div>
                    </div>

                    <div class="progress">
                      <div class="progress-bar" style="width: 50%">Joomla</div>
                    </div>

                    <div class="progress">
                      <div class="progress-bar" style="width: 80%">Bootstrap</div>
                    </div>

                    <div class="progress level">

                      <div class="progress-bar" style="width:25%">
                        Newbie
                      </div>
                      <div class="progress-bar" style="width:25%">
                        Good
                      </div>
                      <div class="progress-bar" style="width:25%">
                        Pretty Good
                      </div>
                      <div class="progress-bar" style="width:25%">
                        Superhero
                      </div>

                    </div>                   

                  </div><!--/ frameworks-->

                  <!--systems-->
                  <div class="col-lg-6 margin-bottom">

                    <h4 class="margin-bottom">Systems</h4>

                    <div class="progress">
                      <div class="progress-bar" style="width: 60%">AIX</div>
                    </div>

                    <div class="progress">
                      <div class="progress-bar" style="width: 90%">Linux</div>
                    </div>

                    <div class="progress">
                      <div class="progress-bar" style="width: 50%">Unix</div>
                    </div>

                    <div class="progress">
                      <div class="progress-bar" style="width: 80%">NT v4.0</div>
                    </div>

                    <div class="progress level">

                      <div class="progress-bar" style="width:25%">
                        Newbie
                      </div>
                      <div class="progress-bar" style="width:25%">
                        Good
                      </div>
                      <div class="progress-bar" style="width:25%">
                        Pretty Good
                      </div>
                      <div class="progress-bar" style="width:25%">
                        Superhero
                      </div>

                    </div>                   

                  </div><!--/ systems-->

                </div>

              </section><!--/ skill -->

              <!-- experiences -->
              <section class="panel-group resume margin-bottom" id="experience">

                <h2>Experiences</h2>
                <p class="margin-bottom"><small>Ut enim ad minim veniam</small></p>

                <!-- ex1 -->
                <article class="resume-item">

                  <div class="resume-year"><small>2009 - 2014</small></div>

                  <div class="resume-btn">
                    <a href="#ex1" data-toggle="collapse" data-parent="#experience" aria-expanded="true"></a>
                  </div>
                  
                  <div class="panel">

                    <div class="panel-heading">
                      <div class="panel-title">
                        <h4 class="resume-title">Google Inc.</h4>
                        <p class="text-secondary"> / Senior Programmer</p>
                      </div>
                    </div>

                    <div id="ex1" class="panel-collapse collapse in" aria-expanded="true">
                      <div class="panel-body text-grey">
                        <p>
                          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Curabitur pretium tincidunt lacus. Nulla gravida orci a odio. Nullam varius, turpis et commodo pharetra, est eros bibendum elit, nec luctus magna felis sollicitudin mauris. Integer in mauris eu nibh euismod gravida. Duis ac tellus et risus vulputate vehicula.   
                        </p>
                      </div>

                    </div>

                  </div>

                </article><!--/ ex1 -->

                <!-- ex2 -->
                <article class="resume-item">

                  <div class="resume-year"><small>2002 - 2008</small></div>

                  <div class="resume-btn">
                    <a href="#ex2" data-toggle="collapse" data-parent="#experience" aria-expanded="true"></a>
                  </div>

                  <div class="panel">

                    <div class="panel-heading">
                      <div class="panel-title">
                        <h4 class="resume-title">Oracle Corporation</h4>
                        <p class="text-secondary"> / Lead Programmer</p>
                      </div>
                    </div>

                    <div id="ex2" class="panel-collapse collapse in" aria-expanded="true">
                      <div class="panel-body text-grey">
                        <p>
                          Donec lobortis risus a elit. Etiam tempor. Ut ullamcorper, ligula eu tempor congue, eros est euismod turpis, id tincidunt sapien risus a quam. Maecenas fermentum consequat mi. Donec fermentum. Pellentesque malesuada nulla a mi. Duis sapien sem, aliquet nec, commodo eget, consequat quis, neque.    
                        </p>
                      </div>

                    </div>

                  </div>

                </article><!--/ ex2 -->

                <!-- ex3 -->
                <article class="resume-item">
                  <div class="resume-year"><small>2000 - 2002</small></div>

                  <div class="resume-btn">
                    <a href="#ex3" data-toggle="collapse" data-parent="#experience" aria-expanded="true"></a>
                  </div>

                  <div class="panel">

                    <div class="panel-heading">
                      <div class="panel-title">
                        <h4 class="resume-title">Facebook Inc.</h4>
                        <p class="text-secondary"> / Junior Programmer</p>
                      </div>
                    </div>

                    <div id="ex3" class="panel-collapse collapse in" aria-expanded="true">
                      <div class="panel-body text-grey">
                        <p>
                          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Curabitur pretium tincidunt lacus. Nulla gravida orci a odio. Nullam varius, turpis et commodo pharetra, est eros bibendum elit, nec luctus magna felis sollicitudin mauris. Integer in mauris eu nibh euismod gravida. Duis ac tellus et risus vulputate vehicula.    
                        </p>
                      </div>

                    </div>

                  </div>

                </article><!--/ ex3 -->

                <!-- ex4 -->
                <article class="resume-item">
                  <div class="resume-year"><small>1998 - 2000</small></div>

                  <div class="resume-btn">
                    <a href="#ex4" data-toggle="collapse" data-parent="#experience" aria-expanded="true"></a>
                  </div>

                  <div class="panel">

                    <div class="panel-heading">
                      <div class="panel-title">
                        <h4 class="resume-title">Microsoft Corporation</h4>
                        <p class="text-secondary"> / Help Desk Analyst</p>
                      </div>
                    </div>

                    <div id="ex4" class="panel-collapse collapse in" aria-expanded="true">
                      <div class="panel-body text-grey">
                        <p>
                          Donec lobortis risus a elit. Etiam tempor. Ut ullamcorper, ligula eu tempor congue, eros est euismod turpis, id tincidunt sapien risus a quam. Maecenas fermentum consequat mi. Donec fermentum. Pellentesque malesuada nulla a mi. Duis sapien sem, aliquet nec, commodo eget, consequat quis, neque.    
                        </p>
                      </div>

                    </div>

                  </div>

                </article><!-- ex4 -->

              </section><!--/ experience --> 

              <!-- education -->
              <section class="panel-group resume margin-bottom" id="education">

                <h2>Education</h2>
                <p class="margin-bottom"><small>Fusce convallis mauris</small></p>

                <!-- ed1 -->
                <article class="resume-item">
                  <div class="resume-year"><small>2012 - 2014</small></div>

                  <div class="resume-btn">
                    <a href="#ed1" data-toggle="collapse" data-parent="#education" aria-expanded="true"></a>
                  </div>

                  <div class="panel">

                    <div class="panel-heading">
                      <div class="panel-title">
                        <h4 class="resume-title">Voluptate Velit</h4>
                        <p class="text-secondary"> / BS in Information Technology</p>
                      </div>
                    </div>

                    <div id="ed1" class="panel-collapse collapse in" aria-expanded="true">
                      <div class="panel-body text-grey">
                        <p>
                          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Curabitur pretium tincidunt lacus. Nulla gravida orci a odio. Nullam varius, turpis et commodo pharetra, est eros bibendum elit, nec luctus magna felis sollicitudin mauris. Integer in mauris eu nibh euismod gravida. Duis ac tellus et risus vulputate vehicula.   
                        </p>
                      </div>

                    </div>

                  </div>

                </article><!-- ed1 -->

                <!-- ed2 -->
                <article class="resume-item">
                  <div class="resume-year"><small>2008 - 2012</small></div>

                  <div class="resume-btn">
                    <a href="#ed2" data-toggle="collapse" data-parent="#education" aria-expanded="true"></a>
                  </div>

                  <div class="panel">

                    <div class="panel-heading">
                      <div class="panel-title">
                        <h4 class="resume-title">Donec Fermentum</h4>
                        <p class="text-secondary"> / MS in Software Engineering</p>
                      </div>
                    </div>

                    <div id="ed2" class="panel-collapse collapse in" aria-expanded="true">
                      <div class="panel-body text-grey">
                        <p>
                          Donec lobortis risus a elit. Etiam tempor. Ut ullamcorper, ligula eu tempor congue, eros est euismod turpis, id tincidunt sapien risus a quam. Maecenas fermentum consequat mi. Donec fermentum. Pellentesque malesuada nulla a mi. Duis sapien sem, aliquet nec, commodo eget, consequat quis, neque.    
                        </p>
                      </div>

                    </div>

                  </div>

                </article><!--/ ed2 -->

                <!-- ed3 -->
                <article class="resume-item">
                  <div class="resume-year"><small>2004 - 2008</small></div>

                  <div class="resume-btn">
                    <a href="#ed3" data-toggle="collapse" data-parent="#education" aria-expanded="true"></a>
                  </div>

                  <div class="panel">

                    <div class="panel-heading">
                      <div class="panel-title">
                        <h4 class="resume-title">Nullam Arcu</h4>
                        <p class="text-secondary"> / Web Developer</p>
                      </div>
                    </div>

                    <div id="ed3" class="panel-collapse collapse in" aria-expanded="true">
                      <div class="panel-body text-grey">
                        <p>
                          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Curabitur pretium tincidunt lacus. Nulla gravida orci a odio. Nullam varius, turpis et commodo pharetra, est eros bibendum elit, nec luctus magna felis sollicitudin mauris. Integer in mauris eu nibh euismod gravida. Duis ac tellus et risus vulputate vehicula.    
                        </p>
                      </div>

                    </div>

                  </div>

                </article><!-- ed3 -->

              </section><!--/ education -->  

              <!-- milestones -->
              <section class="margin-bottom" id="milestones">

                <h2>Milestones Achieved</h2>
                <p class="margin-bottom"><small>Donec lobortis risus a elit</small></p>

                <div class="row">

                  <div class="col-sm-6 col-lg-3 margin-bottom">

                    <article class="text-center">

                      <div class="thumbnail"><i class="fa fa-clock-o"></i></div>
                      <h2 class="lead">1,580</h2>
                      <h5>Hours of Works</h5>

                    </article>

                  </div>

                  <div class="col-sm-6 col-lg-3 margin-bottom">

                    <article class="text-center">

                      <div class="thumbnail"><i class="fa fa-code"></i></div>
                      <h2 class="lead">80</h2>
                      <h5>Projects Finished</h5>

                    </article>

                  </div>

                  <div class="col-sm-6 col-lg-3 margin-bottom">

                    <article class="text-center">

                      <div class="thumbnail"><i class="fa fa-smile-o"></i></div>
                      <h2 class="lead">160</h2>
                      <h5>Happy Clients</h5>

                    </article>

                  </div>

                  <div class="col-sm-6 col-lg-3 margin-bottom">

                    <article class="text-center">

                      <div class="thumbnail"><i class="fa fa-trophy"></i></div>
                      <h2 class="lead">36</h2>
                      <h5>Awards Won</h5>

                    </article>

                  </div>

                </div>
                
              </section><!--/ milestones -->  

              
            </div>