<h1>{{user}}</h1>
<div class="chat-container">
  <div class="row">

    <div class="col-md-4 table-responsive">
      <table class="table">
          <thead>
            <tr>
             
              <th><button ui-sref="chat.contacts">Compose</button></th>
            </tr>
          </thead>
        </table>
        <div ui-view></div>

    </div>



    <div class="col-md-8">
      <table class="table">
          <thead>
            <tr>
              <th>{{toUsername}}</th>
             
            </tr>
          </thead>
        </table>
        <div class="msg-container">
          <div ng-repeat="key in allChats">
            <table>
              <tr>
                <td class="name"><p>{{key.displayName}}</p></td>
                <td class="created"><p>{{key.created}}</p></td>
              </tr>
              <tr>
                <td class="text"><p>{{key.text}}</p></td>
              </tr>
            </table>
           
            
          </div>
        </div>
        <form ng-click="submit()">
        <div class="form-group">
            <div class="col-sm-10">
              <p class="form-control-static">{{username}}</p>
            </div>
          </div>
          <textarea class="form-control" rows="3" ng-model="text" name="text"></textarea>
         <p ng-model="date" ></p>
          <input type="submit" id="submit" value="Submit"/>
        </form>
      
        </div>
    </div>

  </div>
</div>

