<div class="row">

<div class="col-md-4">
<div class="chat-container">
<div class="msg-container">
  <div ng-repeat="key in chat">
    <p>{{key.displayName}} : {{key.text}}</p>
    <p>{{key.created}}</p>
  </div>
</div>
<form ng-submit="submit()">
<div class="form-group">
    <label class="col-sm-2 control-label">Username</label>
    <div class="col-sm-10">
      <p class="form-control-static">{{username}}</p>
    </div>
  </div>
  <textarea class="form-control" rows="3" ng-model="text" name="text"></textarea>
 <p ng-model="date" ></p>
  <input type="submit" id="submit" value="Submit" />
</form>
<a ui-sref="chat.room">Start a chatroom</a>
</div>
</div>

<div class="col-md-4" ui-view></div>

</div>