<div class="row">
<div class="col-md-4">
<h1>Profile Summary</h1>
<h5>This is what i know now</h5>
<div ng-repeat="skill in userSkills">
	angular: {{skill.angular}}
	node: {{skill.node}}
	jquery: {{skill.jquery}}
	html: {{skill.html}}
	css: {{skill.css}}
</div>

<h5>This is what I would like to learn</h5>
<div ng-repeat="skill in futureSkills">
	{{skill}}
</div>
</div>

<div class="col-md-4">
	<h3>Reach out to some people in Your Network</h3>

<div ng-repeat="info in allUsers">
	{{info.displayName}}, knows
		<div ng-repeat="eachskill in allUsers.skills">
			angular: {{eachskill.angular}}
			node: {{eachskill.node}}
			jquery: {{eachskill.jquery}}
			html: {{eachskill.html}}
			css: {{eachskill.css}}
		</div>
	and wants to know; 
	<div ng-repeat="moreskills in allUsers.futureSkills">
		{{moreskills}}
	</div>
	<button>Send Message</button>

</div>

</div>

</div>



