<div class="panel panel-default">
  <div class="panel-heading">Profile</div>
  <div class="panel-body">
    <legend><i class="ion-clipboard"></i> Edit My Profile</legend>
    <form method="post" ng-submit="updateProfile()">
      <div class="form-group">
        <label class="control-label">Profile Picture</label>
        <img class="profile-picture" ng-src="{{user.picture || 'https://placehold.it/100x100'}}">
      </div>
      <div class="form-group">
        <label class="control-label"><i class="ion-person"></i> Display Name</label>
        <input type="text" class="form-control" ng-model="user.displayName" />
      </div>
      <div class="form-group">
        <label class="control-label"><i class="ion-at"></i> Email Address</label>
        <input type="email" class="form-control" ng-model="user.email" />
      </div>
      <button class="btn btn-lg btn-success">Update Information</button>
    </form>
    <form ng-submit="liveCodeShare()">
      Who would you like to start a live code share with?:
      <input type="text" ng-model="text" name="text" />
      <input type="submit" id="submit" value="Submit" />
      
    </form>
  </div>
</div>
<div class="col-md-8">
    <div>
      <h1>We want to do our best to help you find a mentor</h1>

      <h2>Help us out by filling out </h2>
       <a ui-sref="profile.currentskills">Start<a>
    </div>
    <div ui-view></div>

  </div>


  </div>

</div>
</div>


<div>
  <button class="btn btn-sm btn-danger" ng-if="user.github" ng-click="unlink('github')">
    <i class="ion-social-github"></i> Unlink GitHub Account
  </button>
  <button class="btn btn-sm btn-primary" ng-if="!user.github" ng-click="link('github')">
    <i class="ion-social-github"></i> Link GitHub Account
  </button>
</div>