<div class="row" id="cool">
  <div class="col-md-4" id="sweet">
    <div class="panel panel-default">
      <!-- <div class="panel-heading">Profile</div> -->
      <div class="panel-body">
        <legend><i class="ion-clipboard"></i> Edit My Profile</legend>
        <form method="post" ng-submit="updateProfile()">
          <div class="form-group">
            <label ng-hide="user.picture" class="control-label">Profile Picture</label>
            <article>
              <img class="img-circle img-responsive" ng-src="{{user.picture || 'https://placehold.it/100x100'}}">
            </article>
          </div>

          <h2>
            {{user.displayName}}
          </h2>

          <div class="form-group">
            <label class="control-label"><i class="ion-person"></i> PairedUp Alias (Optional)</label>
            <input type="text" class="form-control" ng-model="user.displayName" />
          </div>
          <div class="form-group">
            <label class="control-label"><i class="ion-at"></i> Email Address</label>
            <input type="email" class="form-control" ng-model="user.email" />
          </div>
          <button class="btn btn-lg btn-success" ui-sref="profile.currentskills">Update Information</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-8">
      <div ui-view></div>
  </div>
  </div>
</div>
